* {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;;
}

#navbar {
    margin: 30px 0px;
    display: flex;
}

.logo {
    font-size: 30px;
    font-weight: bolder;
}

nav,
.links {
    justify-content: center;
    list-style: none;
    gap: 16rem;
}

nav
ul li {
    display: inline;
    line-height: 30px;

}

.navcontener
ul li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding-left: 27px;
}

.navcontener ul li a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;

}

#profile {
    margin: 30px 30px;
}

.profile-justifing {
    margin: 17vh 30vh;
    display: flex;
    gap: 6rem;
}

@media(max-width :600px) {
    #navbar {
        display: block;
    }

    #profile {
        margin: 0px 0px;

    }

    .profile-justifing {
        display: block;
        margin: 0px 0px;
    }

    .justifing-img img {
        height: 200px;
        width: 56vh;
    }

    .links {
        display: none;
    }

    .justifing_about_content {
        flex-wrap: wrap;
        margin: 0%;
    }
    .about_content_all{
        margin: 0%;
    }

    /* .justifing_about_content{
        padding-left: 0;
    }
     */
}

.justifing-img img {
    height: 400px;
}

.content-profile {
    text-align: center;
    margin-top: 60px;
}

.content-profile h1 {
    font-size: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-profile h2 {
    color: gray;
    font-size: 30px;
    padding-bottom: 10px;
}

.butt {
    padding: 10px;
}

.butt button {
    height: 40px;
    width: 100px;
    border-radius: 20px;
}

.fbut:hover {
    background: rgb(59, 58, 58);
    color: white;
}

.sbut {
    color: white;
    background: rgb(26, 25, 25);
}

.sbut:hover {
    background: rgb(59, 58, 58);
}

#about_me {
    margin: 20px auto;
}

.top_heading {
    text-align: center;
    padding-bottom: 60px;
    padding-top: 40px;
}

.top_heading h1 {
    font-size: 50px;

}

.justifing_about_content {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    margin-left: 260px;
    

}

.justifing_about_content .only {
    height: 400px;
    border-radius: 20px;

}

.about_content_all {
    margin: 80px;
}

.about_content_all p {
    font-size: 20px;
}

.about_content_box {
    display: flex;
    gap: 4rem;
    padding-bottom: 30px;
}

.box1 img {
    height: 30px;
}

.box1 {
    text-align: center;
    border-style: inset;
    /* height: 120px; */
    width: 200px;
    border-width: 2px;
    border-color: gray;
    border-radius: 10px;
}

.box2 img {
    height: 30px;
}

.box2 {
    text-align: center;
    border-style: inset;
    /* height: 120px; */
    width: 200px;
    border-width: 2px;
    border-color: gray;
    border-radius: 10px;
}

.box1 p {
    padding-top: 7px;
}

.box2 p {
    padding-top: 7px;
}

.box-contener2 {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.article-container {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* text-align: initial; */

}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
    padding-top: 20px;
}

.box3 {
    width: 450px;
    border: 10px;
    border-style: outset;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    margin: 20px;
    padding: 7px;
}

.box4 {
    width: 450px;
    border: 10px;
    border-style: outset;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    margin: 20px;
    padding: 7px;
}

.box3 h1 {
    text-align: center;
    color: gray;
}

.box3 p {
    padding-top: 8px;
    color: gray;
}

.box4 h1 {
    text-align: center;
    color: gray;
}

.box4 p {
    padding-top: 8px;
    color: gray;
}

.icon {
    height: 20px;
}
@media(max-width:600px){
    .project_contener{
        flex-wrap: wrap;
    }
}
/* #project{
    display: flex;
} */
.project_contener{
    display: flex;
    gap: 2.5rem;
    justify-content: center;
}
.project_contener img{
    height: 380px;
    margin: 15px;
    border-radius: 20px;
}
.box5{
    border-style: inset;
    border-radius: 20px;
    border-width: 2px;
}
.abut{
    margin: 20px;
    text-align: center;
}
.abut button{
    padding: 7px;
    width: 90px;
    border-radius: 14px;
    border-width: 1px;
}
.abut button:hover{
    color: white;
    background: rgb(32, 32, 32);
}
#contact{
    margin: 20px 10px;
}
.socil_icon_foter{
    display: flex;
    gap: 20px;
    justify-content: center;
    border-style: inset;
    border-radius: 20px;
    width:400px;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    border-width: 2px;
    padding: 40px;
    margin: auto 28rem;
}
@media(max-width:600px){
    .socil_icon_foter{
        flex-wrap: wrap;
        margin: 0%;
    }
    .socil_icon_foter a{
        display: block;
    }
}
.socil_icon_foter a{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.socil_icon_foter a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
}
.lastbar{
    display: flex;
    margin:50px 0px;
    justify-content: space-around;
}
.lastbar ul{
    list-style: none;
    display:flex;
    gap: 3rem;

}
.lastbar a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    /* justify-content: space-around; */
}
.lastbar a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset:1rem ;
}
.Copyright{
   text-align: center;
}
.Copyright p{
    font-size: 20px;
}